name: Secret Detection

on:
  pull_request:
  push:
    branches: [master]

permissions:
  contents: read
  pull-requests: write

jobs:
  trufflehog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: trufflesecurity/trufflehog@v3.93.1
        with:
          extra_args: --only-verified
